body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Ubuntu','Segoe UI', 'Roboto', 'Oxygen', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.button-app-config {
  background-color: #192930;
}

.ul-config-navbar {
  width: 45%;
}

.nav-bar-button {
  background: #d4b105 !important;
}

#item-secondary {
  border-bottom: solid 0.5px #d4b105;
  background: white !important;
  font-family: 'Archivo Narrow', sans-serif !important;
  text-transform: uppercase;
  font-weight: 600 !important;
  white-space: nowrap;
}


#item-primary {
  background-color: #192930;
  height: 35px !important;
  border-bottom: solid;
  box-shadow: -8px 2px 6px 4px #c8c8c8;
}


.nav-item-config {
  position: absolute;
  margin-top: -3px;
}


.user-icon {
  color: "#ffffff";
  cursor: pointer;
}

.nav-item-config {
  font-size: 12px;
  color: "#ffffff";
}

.title-news-header {
  font-weight: 700;
}

.news-text-detail {
  text-align: justify;
}


.input-filter {
  border-color: #d4b105 !important;
}

.filter-body-color {
  color: #192930 !important;
}

.filter-header-color {
  background-color: #192930 !important;
  color: #ffffff ;
}

.text-h2-config {
  color: #192930 !important;
}

.hr-config {
  border: solid 0.5px #d4b105 !important;
}



